---
import { Image } from "astro:assets";
const {
  members: { title, description, member_list },
} = Astro.props;
---

<section class="section py-16 lg:py-32">
  <div class="container mx-auto rounded-3xl bg-white p-6 shadow-lg lg:p-8">
    <div class="row">
      <div class="text-center mx-auto lg:col-6">
        <h6 class="mb-2 text-3xl lg:text-5xl font-bold w-full pb-4">{title}</h6>
        <p class="">
          {description}
        </p>
      </div>
    </div>
    <div class="row mt-12 justify-center">
      <div class="lg:col-10">
        <div class="row">
          {
            member_list.map((item: any) => (
              <div class="mb-6 flex flex-col px-6 text-center sm:col-6 lg:col-4 sm:items-center">
                <div class="member-avatar inline-flex justify-center items-center rounded-full lg:bg-gradient from-primary to-secondary  lg:shadow-lg p-2">
                  <Image
                    height={112}
                    width={112}
                    class="rounded-full h-28 w-28 object-cover shadow-lg grayscale"
                    src={item.image}
                    alt=""
                  />
                </div>
                <div class="mt-6 w-full flex-1 rounded-xl bg-white px-4 py-8 shadow-lg">
                  <h5 class="font-bold">{item.name}</h5>
                  <p class="my-1.5 font-semibold">{item.field}</p>
                  <p class="text-sm opacity-75 text-balance">{item.study}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
